/* Order List Styles */
.orld {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  .personal-details {
    background-color: #318FE7;
    color: #ffffff;
    padding: 10px 10px;
    border-radius: 5px;
    width: 100px;
    margin-left: 1260px;
    font-size: 14px;



  }
  
  .available-orders,
  .picked-orders {
    width: 45%;
    /* border: 1px solid #ccc; */
    padding: 10px;
  }
  
  .order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .order-details {
    flex-grow: 1;
    border: 2px solid #ccc; 
    padding: 10px;
    border-radius: 10px; 
    display: flex;
    margin-left: 200px;
    align-items: center;
  
  }
  
  .order-actions button {
    margin-left: 10px;
    
  }


  /* --------------------------- */

 
  .order-actions{
    padding-left: 80px;
    
  }
  .order-actions button{
    padding: 10px;
    background-color: #318FE7;
    border: none;
    border-radius: 5px;
  }

  .bt4{
    margin-left: 530px;
    margin-top: 20px;
    padding: 5px;
    width: 80px;
    border-radius: 5px;

  }
  .available-orders h2{
    margin-left:420px;
  }
  .picked-orders h2{
    margin-left: 10px;
  }

  .see{
    margin: 20px;
    padding: 5px;
    width: 80px;
    border-radius: 5px;
  }

  .pickedoo{
    margin-left: -200px;
    width:625px;
  }
  

  /* =========================== */

  @media (max-width: 1000px) {
    .personal-details {
      font-size: 1em;
    }
    .orld {
      flex-direction:column;
      display: flex-wrap;
    }
  
    .available-order-list, .picked-order-list {
      min-width: 100%; /* Full width on small screens */
    }
   

  }